{% extends "layout.html" %}

{% block content %}
<div class="climbing-types-lesson container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="lesson-title text-center">{{ lesson.title }}</h1>
            
            <!-- Conditionally display media outside the quiz if there's no quiz, or the quiz does not include media. -->
            {% if not lesson.question or not lesson.media %}
                {% if lesson.media %}
                    {% if lesson.media_type == 'horizontal' %}
                        <div class="horizontal-media">
                            <img src="{{ lesson.media }}" alt="Horizontal Media" class="img-fluid">
                        </div>
                    {% elif lesson.media_type == 'vertical' %}
                        <div class="vertical-media">
                            <img src="{{ lesson.media }}" alt="Vertical Media" class="img-fluid">
                        </div>
                    {% elif lesson.media_type == 'square' %}
                        <div class="square-media">
                            <img src="{{ lesson.media }}" alt="Square Media" class="img-fluid">
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            <!-- Display the lesson's text -->
            <div class="lesson-text mt-4 text-center">
                <p>{{ lesson.text }}</p>
            </div>
            
            <!-- Quiz Section if available -->
            {% if lesson.question %}
                <div class="quiz-section text-center">
                    <p class="quiz-question">{{ lesson.question }}</p>
                    {% if lesson.media %}
                        <!-- Handling media within the quiz for additional context, ensures it doesn't duplicate -->
                        {% if lesson.media_type == 'horizontal' %}
                            <div class="horizontal-media">
                                <img src="{{ lesson.media }}" alt="Horizontal Media" class="img-fluid">
                            </div>
                        {% elif lesson.media_type == 'vertical' %}
                            <div class="vertical-media">
                                <img src="{{ lesson.media }}" alt="Vertical Media" class="img-fluid">
                            </div>
                        {% elif lesson.media_type == 'square' %}
                            <div class="square-media">
                                <img src="{{ lesson.media }}" alt="Square Media" class="img-fluid">
                            </div>
                        {% endif %}
                    {% endif %}
                    <form class="quiz-form d-flex flex-column align-items-center" action="{{ url_for('submit_climbing_quiz', lesson_id=lesson.lesson_id) }}" method="POST">
                        {% for option in lesson.options %}
                            <div class="form-check text-center mx-auto">
                                <input class="form-check-input" type="radio" name="quizAnswer" id="answer{{ loop.index }}" value="{{ option }}" required>
                                <label class="form-check-label" for="answer{{ loop.index }}">
                                    {{ option }}
                                </label>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            {% endif %}

            <!-- Navigation buttons -->
            <div class="navigation-buttons d-flex justify-content-between mt-4">
                {% if lesson.previous_lesson %}
                    {% if lesson.lesson_id == '1' %}
                    <a href="{{ url_for('safety', lesson_id=lesson.previous_lesson) }}" class="btn btn-secondary">Back</a>
                    {% else %}
                    <a href="{{ url_for('climbing_types', lesson_id=lesson.previous_lesson) }}" class="btn btn-secondary">Back</a>
                    {% endif %}
                {% else %}
                    <button disabled class="btn btn-secondary">Back</button>
                {% endif %}
                <div style="flex-grow: 1;"></div>
                {% if lesson.next_lesson %}
                    {% if lesson.lesson_id == '6' %}
                        {% if session.get('climbing_quiz_6_completed', False) and session.get('climbing_quiz_6_correct', False) %}
                        <a href="{{ url_for('climbing_types', lesson_id=lesson.next_lesson) }}" class="btn  btn-primary">Next</a>
                        {% else %}
                            <button disabled class="btn btn-primary">Next</button>
                        {% endif %}
                    {% elif lesson.lesson_id == '7' %}
                        <!-- Specifically handle the transition from the last climbing type lesson to the grading systems -->
                        <a href="{{ url_for('grading_systems', lesson_id='1') }}" class="btn btn-primary">Next</a>
                    {% else %}
                        <a href="{{ url_for('climbing_types', lesson_id=lesson.next_lesson) }}" class="btn btn-primary">Next</a>
                    {% endif %}
                {% else %}
                    <button disabled class="btn btn-primary">Next</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
