{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <!-- Home Page Content -->
    <div class="jumbotron text-center"> <!-- Added text-center to center all contents -->
        <h1 class="display-4 home-title">Rock Climbing 101</h1>
        <img class="home-icon mx-auto d-block" src="https://cdn4.iconfinder.com/data/icons/sport-and-games-with-alphabet-r-part-2-of-3/337/sport-r-3-4-512.png" alt="Rock Climbing Icon"> <!-- Added mx-auto and d-block to center the image -->
        <p class="lead home-details">Your ultimate online rock climbing guide, offering rock climbing facts and tips for beginners eager to ascend with confidence.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{ url_for('safety', lesson_id=1) }}" role="button">Learn How to Climb in 10 minutes</a>
    </div>
</div>
{% endblock %}