{% extends "layout.html" %}

{% block content %}
<h2>{{ data.title }}</h2>
{% if data.media %}
    <img src="{{ data.media }}" alt="Media related to the question">
{% endif %}
<form method="post" action="{{ url_for('quiz', quiz_num=data.next) }}">
    {% if data.options|length > 0 %}
        {% for option in data.options %}
            <input type="radio" name="answer" value="{{ option }}" id="{{ option }}">
            <label for="{{ option }}">{{ option }}</label><br>
        {% endfor %}
    {% endif %}
    <div class="navigation-buttons d-flex justify-content-between mt-4">
        {% if data.quiz_num == "6" %}
            <a href="quiz_result" class="btn btn-primary">View Result</a>
        {% else %}
            <button type="submit" class="btn btn-primary">Next</button>
        {% endif %}
    </div>
</form>
{% endblock %}
