{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="lesson-title text-center">{{ data.title }}</h3>
            
            <!-- Display the quiz's media if available -->
            <!-- {% if data.media %}
                <div class="lesson-media text-center">
                    <img src="{{ data.media }}" alt="Media related to the question" class="img-fluid">
                </div>
            {% endif %} -->
            {% if data.media %}
                {% if "youtu" in data.media %}
                <div class="lesson-media text-center">
                    <div id="player"></div>
                
                    <script>
                    // Function to load the YouTube API script
                    function loadYoutubeAPI() {
                        var tag = document.createElement('script');
                        tag.src = "https://www.youtube.com/iframe_api?timestamp=" + new Date().getTime();
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                    }
                
                    var player;
                    function onYouTubeIframeAPIReady() {
                        if (player) {
                            player.destroy(); // Destroy the existing player instance if exists
                        }
                        player = new YT.Player('player', {
                            height: '360',
                            width: '640',
                            videoId: 'vD4jf_iw5Dk',
                            events: {
                                'onReady': onPlayerReady
                            }
                        });
                    }
                
                    function onPlayerReady(event) {
                        event.target.playVideo();
                        setTimeout(stopVideo, 3000); // Stops the video after 3 seconds of playback
                    }
                
                    function stopVideo() {
                        player.stopVideo();
                    }
                
                    // Load the API and initialize everything when the window loads
                    window.onload = function() {
                        loadYoutubeAPI();
                    };
                    </script>
                </div>
                
                {% else %}
                <div class="lesson-media text-center">
                    <img src="{{ data.media }}" alt="Media" style="width: 40%; height: auto; align-self: center;">
                </div>
                {% endif %}
            {% endif %}
            
            <!-- Quiz Form -->
            <div class="quiz-section text-center mt-4">
                <form method="post" action="{{ url_for('quiz', quiz_num=data.next) }}">
                    {% if data.options|length > 0 %}
                        {% for option in data.options %}
                            <div class="form-check text-center mx-auto">
                                <input type="radio" name="answer" value="{{ option }}" id="{{ option }}" class="form-check-input">
                                <label class="form-check-label" for="{{ option }}">{{ option }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="navigation-quiz d-flex justify-content-center mt-4">
                        {% if data.quiz_num == "6" %}
                            <a href="/view_result" class="btn btn-primary">View Result</a>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Next</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
